<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{title}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<h1 id="uncategorized-title">{title}</h1>
<div class="video-container">
    <video id="Videoplayer" controls data-file-name="{file_name}" preload="metadata">
        <source src="/video-resource/uncategorized/{file_name}"/>
    </video>
</div>
<form action="/uncategorized" method="post" target="_top">
    <input hidden type="number" id="video-id" name="video_id" value="0"/>
    <input hidden type="text" id="file-name" name="file_name" value="{file_name}"/>
    <label for="title">Titel</label><input type="text" id="title" name="title"/>
    <label for="collection">Sammlung</label><select id="collection" name="collection_id">
        <option value="" selected>keine</option>
    </select>
    <button type="button" id="show-collection-dialog">Neue Sammlung erzeugen</button>
    <button type="submit" onclick="window.location.href = '/uncategorized';" >Video kategorisieren</button>
</form>
<dialog id="collection-dialog">
    <h3>Sammlung anlegen</h3>
    <label for="collection-title">Name</label><input id="collection-title" name="collection-title" type="text">
    <label for="parent-collection">Eltern-Sammlung</label><select id="parent-collection" name="parent-collection">
        <option value="" selected>keine</option>
    </select>
    <button onclick="postCollection()">erstellen</button>
</dialog>
</body>
</html>
<script src="/assets/js/uncategorized.js"></script>