<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>Nicht-kategorisierte Videos</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/tailwind.css">
</head>

<body>
  <div class="flex justify-between mb-4">
    <h1 class="text-3xl font-black">Nicht-kategorisierte Videos</h1>
    <a class="bg-slate-500 p-3 rounded text-sm" id="back" href="/">Zurück</a>
  </div>
  <div class="flex flex-wrap">
    {videoListEntries}
  </div>
</body>

</html>