body {
    background-color: black;
    color: beige;
}

.video-list-item {
    margin: 1rem;
}

.video-container {
    display: flex;
    max-height: 100vh;
}

.video-container-sm {
    display: flex;
    max-height: 50vh;
    max-width: 50vh;
}

#Videoplayer {
    overflow: auto;
}