body {
    background-color: black;
    color: beige;
}

.video-list-item {
    padding: 1.5rem;
}

.video-container {
    display: flex;
    max-height: 100vh;
}

#Videoplayer {
    overflow: auto;
}